header {
    display: flex;
    font-family: 'Black And White Picture', sans-serif;
}

/*#text-area {
   
    border: 3px solid #1AD3D3;
    box-shadow: 2px 2px 6px #DD00BA;
    border-radius: 20%;
}*/

.intro{
    margin: 5% 25%;
    height: 250px;
    width: 50%;
    font-size: 54pt;
    color: black;
    text-shadow: 1px 1px 2px #DD00BA;
}
button {
    align-items: center;
    height: 125px;
    width: 75%;
    border-radius: 50%;
    background-color: #1AD3D3;
    box-shadow: 2px 2px 8px #110999;
    font-family: 'Aclonica', sans-serif;
    font-size: 24pt;
}
